/* COMMUN A TOUTES LES PAGES */

*{
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
.accueil{
    text-align: center;
    
}
.navlinks{   
    margin: 3%;
    font-weight: 200;
    list-style: none;
    display: inline-flex;
    text-transform: uppercase;
}
.logo{
    position:absolute;
    width:max-content;
}
.navlinks .menu{
    margin: 10px 30px;
}
img{
    width: 100px;
    height: 100px;
    position: relative;
}

.menu a:hover{
    text-decoration: underline #6fb9b9 2px;
}


/* FOOTER */
.footer i{
    color: #000;
    font-size: 1rem;
    display: inline-flex;
}
.footer ul{
    margin-top: 40%;
    text-align: center;
}
.footer .icons{
    margin-top: 1%;
}
.footer li{
    padding: 10px;
    color: #000;
    list-style: none;
    display: inline;
}


/* UNIQUEMENT POUR CETTE PAGE */
