/* COMMUN A TOUTES LES PAGES */

*{
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
.accueil{
    text-align: center;
}
.navlinks{   
    margin: 3%;
    font-weight: 200;
    list-style: none;
    display: inline-flex;
    text-transform: uppercase;
}
.logo{
    position:absolute;
    width:max-content;
}
.navlinks .menu{
    margin: 10px 30px;
}
img{
    width: 100px;
    height: 100px;
    position: relative;
}

.menu a:hover{
    text-decoration: underline #6fb9b9 2px;
}


/* FOOTER */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
footer{
    padding: 10px;
    text-align: center;
    list-style: none; 
}
.footer li{
    margin: 10px;
    display: inline;
}


/* UNIQUEMENT POUR CETTE PAGE */

/* SEARCH BAR */
.searchbar{
    margin-top: 3%;
    margin-left: 10%;
}
.searchbar h3{
    text-decoration:overline;
    padding: 10px;
}
.searchbar i{
    font-size: 10px;
    padding: 10px;
}
/* SEARCH AVEC DICO*/
.dico ul{
    position: absolute;
    display: inline-flex;
    list-style: none;
    margin-left: 20%;
}
.dico li{
    margin: 10px 10px;
    text-decoration: underline;
}
.dico .paystitre{
    text-decoration: none;
}
#photos li{
    list-style: none;
}
#photos li a{
    display: none;
}
/* TAILLE DES PHOTOS */
#photos .gauche{
    margin-top: 10%;
    margin-left: 10%;
    float: left;
    width: 20%;
    height: 20%;
}
#photos .droite{
    margin-top: 10%;
    margin-right: 10%;
    float: right;
    width: 20%;
    height: 20%;
}
/*#photos .nok{
    margin-top: 10%;
    margin-right: 10%;
    float: left;
    width: 37%;
    height: 37%;
}
#photos .fin{
    margin-top: 10%;
    margin-right: 10%;
    float: right;
    width: 20%;
    height: 20%;
}
#photos .ntl{
    margin-top: 10%;
    margin-left: 10%;
    float: left;
    width: 20%;
    height: 20%;
}
#photos .ch{
    margin-top: 10%;
    margin-right: 10%;
    float: right;
    width: 37%;
    height: 37%;
} */

